/* general style */
body{
    background-color: #fafafa;
    font-family: Arial, Helvetica, sans-serif;
}
.bg{
    background-image: url("../images/pexels-jeff-sof-209653-10082071.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.opaque-overlay{
    background-color: rgba(0, 0, 0, .5);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100%;
    width: 100%;
}
.lead{
    margin-top: 20px;
    margin-bottom: 20px;
}
/* font classes */
/* buttons */
.btn-action{
    background-color: tomato;
    color: bisque;
}
.btn-action:hover{
    background-color: bisque;
    color: tomato;
}
/* header style */
.navbar{
    background-color: transparent;
    z-index: 1;
}
.navbar .navbar-brand{
    color: #fafafa;
}
.color-fade-text{
    padding-top: 15px;
    color: tomato;
}
.btn-nav{
    margin-left: 10px;
}
/* jumbotron style */
.jumbotron {
    height: 50vh;
    height: 50%;
    background-color: transparent;
    color: bisque;
}
/* footer style */
.photo-credit{
    margin-top: 50px;
    padding-bottom: 50px;
    color: aqua;
}
h6 > a{
    text-decoration: none;
    color: aqua;
}
h6 > a:hover{
    color: blanchedalmond;
}