.color-fade-text{
    color: rgba(0, 0, 0, .5);
}
.container-fluid{
    padding-left: 0;
    padding-right: 0;
}
.navbar > p{
    padding-top: 15px;
}
.jumbo-header{
    margin-bottom: 30px;
}
.vertical-center {
    min-height: 80%;
    min-height: 80vh; 
    display: flex;
    align-items: center;
}

.cta-container{
    
}